:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.email, .username, .name, .provider {
  width: 100%;
  margin: 0 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
