<app-ui-sortable-crud [configuration]="configuration">
  <ng-template #itemTemplate let-user>
    <div class="email" [attr.title]="user.email">
      <span>{{ user.email }}</span>
    </div>

    <div class="username" [attr.title]="user.username">
      <span>{{ user.username }}</span>
    </div>

    <div class="name" [attr.title]="user.name">
      <span>{{ user.name }}</span>
    </div>

    <div class="provider" [attr.title]="user.provider">
      <span>{{ user.provider }}</span>
    </div>

    <div class="is-admin">
      <mat-slide-toggle
        color="warn"
        [checked]="user.isAdmin"
        (change)="toggleAdmin(user.id, $event.checked)"
      ></mat-slide-toggle>
    </div>
  </ng-template>
</app-ui-sortable-crud>
