.users-container {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-rows: min-content auto;
  gap: 12px;
  padding: 0 12px;
}

.users-header-container {
  display: flex;
  justify-content: flex-end;
  padding: 8px 0;
}

.table-container {
  position: relative;
  overflow: auto;
}

table {
  width: 100%;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Column Widths */
.mat-column-isAdmin{
  width: 40px;
}
