<div class="page-container" *ngrxLet="isLoadingResults$; let isLoading">
  <div class="loading-shade" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <mat-toolbar color="primary" *ngIf="!(isHandset$ | async)">{{ configuration.title }}</mat-toolbar>

  <div class="page-header-container">
    <button
      mat-raised-button
      color="primary"
      class="mat-elevation-z0"
      *ngIf="configuration.create"
      (click)="onCreate()"
    >
      {{ configuration.create.buttonLabel }}
    </button>

    <app-search-input
      *ngIf="configuration.search"
      [label]="configuration.search.label"
      [placeholder]="configuration.search.placeholder"
      (search)="onSearch($event)"
    ></app-search-input>
  </div>

  <ng-container *ngIf="configuration.reorder; else notSortable">
    <div
      class="list-container mat-elevation-z2"
      cdkDropList
      (cdkDropListDropped)="onReorder($event)"
    >
      <div class="drag-placeholder" *cdkDragPlaceholder></div>

      <ng-container *ngIf="itemList.length; else emptyState">
        <div class="list-item sortable" *ngFor="let item of itemList" cdkDrag>
          <ng-container
            [ngTemplateOutlet]="itemTemplate"
            [ngTemplateOutletContext]="{ $implicit: item }"
          ></ng-container>

          <button mat-icon-button *ngIf="configuration.update" (click)="onUpdate(item)">
            <mat-icon>edit</mat-icon>
          </button>

          <button
            mat-icon-button
            color="warn"
            *ngIf="configuration.delete"
            (click)="onDelete(item)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <ng-template #notSortable>
    <div class="list-container mat-elevation-z2">
      <ng-container *ngIf="itemList.length; else emptyState">
        <div class="list-item" *ngFor="let item of itemList">
          <ng-container
            [ngTemplateOutlet]="itemTemplate"
            [ngTemplateOutletContext]="{ $implicit: item }"
          ></ng-container>

          <button mat-icon-button *ngIf="configuration.update" (click)="onUpdate(item)">
            <mat-icon>edit</mat-icon>
          </button>

          <button
            mat-icon-button
            color="warn"
            *ngIf="configuration.delete"
            (click)="onDelete(item)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </ng-container>
    </div>
  </ng-template>

  <ng-template #emptyState>
    <div class="empty-state">
      <span>{{ configuration.emptyState.withSearch(query$.value ?? '') }}</span>
    </div>
  </ng-template>

  <mat-paginator
    class="mat-elevation-z2"
    [length]="length"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of GitHub search results"
  ></mat-paginator>
</div>
