:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

h1 {
  display: flex;
  flex: 0;
  padding: 24px 24px 0 24px;
}

form {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  width: 100%;
}

.mat-dialog-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  max-height: 100%;
  padding: 24px;
  margin: 0;
}

.mat-dialog-actions {
  padding: 24px 24px 12px 24px;
  justify-content: flex-end;
  position: relative;
  margin: 0;
}





