<app-ui-sortable-crud [configuration]="configuration">
  <ng-template #itemTemplate let-training>
    <div class="title">
      <span>{{ training.name }}</span>
    </div>

    <span class="description" *ngIf="!(isHandset$ | async)">{{ training.description }}</span>

    <div class="presentation-indicator-container">
      <mat-chip-list *ngIf="training.isPresentation">
        <mat-chip color="accent" [disableRipple]="true" selected>P</mat-chip>
      </mat-chip-list>
    </div>

    <button mat-icon-button [routerLink]="['/trainings', training.id, 'courses']">
      <mat-icon>description</mat-icon>
    </button>
  </ng-template>
</app-ui-sortable-crud>
