:host {
  .mat-list-item ::ng-deep .mat-list-item-content {
    gap: 12px;
  }
}

.sidenav-container {
  height: 100%;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-drawer-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.mat-list-item {
  color: black;
  opacity: 0.4;

  &.active-link{
    opacity: 1;
    color: #673ab7;
    background-color: #d1c4e9;
  }
}

.home-link {
  opacity: 1;
  margin-top: 4px;
  margin-bottom: 12px;
}

.mat-icon-button {
  position: absolute;
  left: 0;
  top: 6px;
  z-index: 10;
  color: white;
}