<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    [style.width.px]="(isHandset$ | async) ? 250 : 56"
  >
    <mat-nav-list>
      <a
        class="home-link"
        mat-list-item
        *ngIf="!(isHandset$ | async)"
        [routerLink]="['/']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        [matTooltip]="'Accueil'"
        [matTooltipPosition]="'right'"
      >
        <mat-icon svgIcon="home"></mat-icon>
      </a>
      <a
        mat-list-item
        *ngFor="let item of menuItems"
        [routerLink]="[item.link]"
        routerLinkActive="active-link"
        [matTooltip]="item.label"
        [matTooltipPosition]="'right'"
        (click)="drawer.mode === 'over' && drawer.close()"
      >
        <mat-icon>{{ item.icon }}</mat-icon>
        <span *ngIf="isHandset$ | async">{{ item.label }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content [class.small-screen]="isHandset$ | async">
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>

    <mat-toolbar color="primary" *ngIf="isHandset$ | async">{{ title.getTitle() }}</mat-toolbar>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
