.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-drawer-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.active-link{
  font-weight: bold;
  color: #3f51b5;
  background: rgba(63, 81, 181, 0.04);
}

.app-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}