:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.example-form-field {
    width: 200px;
}


.mat-dialog-actions {
    width: 100%;
    justify-content: flex-end;
}

form {
    width: 100%;
}

h1 {
    text-align: center;
}


  