<h1 mat-dialog-title *ngIf="!data">Ajouter un chapître</h1>
<h1 mat-dialog-title *ngIf="data">Modifier un chapître</h1>
<form [formGroup]="chapterForm" (ngSubmit)="addOrEditChapter()">
  <mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Nom</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        formControlName="description"
      ></textarea>
    </mat-form-field>

    <mat-slide-toggle formControlName="isPresentation" color="primary"
      >Présentation</mat-slide-toggle
    >
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close color="accent">Annuler</button>
    <button mat-raised-button color="primary" *ngIf="!data">Ajouter le chapître</button>
    <button mat-raised-button color="primary" *ngIf="data">Modifier le chapître</button>
  </mat-dialog-actions>
</form>
