<p>
    <label> Temps </label>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="passé">Passé</mat-button-toggle>
        <mat-button-toggle value="présent">Présent</mat-button-toggle>
        <mat-button-toggle value="futur">Futur</mat-button-toggle>
    </mat-button-toggle-group>
</p>

<p>
    <label> Schema </label>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="p">P</mat-button-toggle>
        <mat-button-toggle value="pv">PV</mat-button-toggle>
        <mat-button-toggle value="number">Number</mat-button-toggle>
        <mat-button-toggle value="pva_temp">PVA_TEMP</mat-button-toggle>
    </mat-button-toggle-group>
</p>