<button mat-icon-button [routerLink]="['/train']">
  <mat-icon>close</mat-icon>
</button>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>Se connecter</h1>
      </mat-card-title>
    </mat-card-header>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="outline">
      <input
        type="text"
        placeholder="Nom d'utilisateur"
        aria-label="username"
        matInput
        formControlName="username"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input
        [type]="hidePassword ? 'password' : 'text'"
        placeholder="Mot de passe"
        aria-label="Password"
        matInput
        formControlName="password"
      />
      <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{ hidePassword? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>

    <button mat-raised-button color="primary">
      
      SE CONNECTER
   
    </button>


  </form>

  <div class="alternative-divider">
    <mat-divider></mat-divider>
    <span>OU</span>
    <mat-divider></mat-divider>
  </div>

  <p class="no-account-yet">
    <span>Tu n'as pas encore de compte? S'INSCRIRE</span>
  </p>
</mat-card>

