<div class="page-container">
  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="page-header-container">
    <button mat-raised-button color="primary" (click)="addOrEditChapter()">
      Ajouter un chapître
    </button>

    <mat-form-field appearance="outline">
      <mat-label>Rechercher un chapître</mat-label>
      <input
        matInput
        (keyup)="applyFilter(input.value)"
        placeholder="Entrer un mot contenu dans votre chapître"
        #input
      />
      <button
        *ngIf="input.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="input.value = ''; applyFilter(input.value)"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="list-container" cdkDropList (cdkDropListDropped)="onReorder($event)">
    <div class="drag-placeholder" *cdkDragPlaceholder></div>

    <mat-expansion-panel class="example-box" *ngFor="let chapter of data" cdkDrag>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span>{{ chapter.name }}</span>
        </mat-panel-title>
        <mat-panel-description>
          <span class="description" *ngIf="!(isHandset$ | async)">{{ chapter.description }}</span>

          <mat-chip-list *ngIf="chapter.isPresentation">
            <mat-chip color="accent" selected>P</mat-chip>
          </mat-chip-list>

          <mat-icon class="move-icon">open_with</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="actions-container">
        <button mat-button color="warn" (click)="deleteChapter(chapter)">
          Supprimer le chapître
        </button>
        <button mat-button (click)="addOrEditChapter(chapter)">Modifier le chapître</button>
      </div>
    </mat-expansion-panel>
  </div>
</div>
