:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;

  .mat-form-field ::ng-deep .mat-form-field-wrapper {
    padding: 0;  
    margin: 0;
  }  
}

.page-container {
  position: relative;
  max-height: 100%;
  display: grid;
  grid-template-rows: min-content auto;
  gap: 8px;
  padding: 0 12px;
}

.page-header-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 12px;

  button {
    width: fit-content;
    display: flex;
    align-self: flex-end;
  }

  .mat-form-field {
    width: 100%;
    flex: 1;
  }
}

.list-container {
  position: relative;
  overflow: auto;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 4px;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-expansion-panel {
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
}

.mat-expansion-panel-header-description {
  justify-content: flex-end;
  align-items: center;
  gap: 8px;

  .description {
    width: 100%;
  }

  .move-icon {
    cursor: move;
    overflow: visible;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list-container.cdk-drop-list-dragging .mat-expansion-panel:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.actions-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}