:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;

  .mat-icon-button ::ng-deep .mat-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.title {
  width: 50%;
  margin-left: 8px;
}

.description {
  width: 100%;
  color: #999;
}

.mat-icon-button {
  height: 30px;
  width: 30px;

  .mat-icon {
    font-size: 20px;
  }
}

ngx-colors{
  margin: 8px;
}