<app-subnav-training-list>
  <app-ui-sortable-crud [configuration]="configuration" subnavTrainingListContent>
    <ng-template #itemTemplate let-course>
      <div class="title">
        <span>{{ course.name }}</span>
      </div>

      <span class="description" *ngIf="!(isHandset$ | async)">{{ course.description }}</span>

      <ngx-colors ngx-colors-trigger [formControl]="getColorControl(course.color)"></ngx-colors>

      <button
        mat-icon-button
        [routerLink]="['/trainings', trainingId, 'courses', course.id, 'exams']"
      >
        <mat-icon>description</mat-icon>
      </button>
    </ng-template>
  </app-ui-sortable-crud>
</app-subnav-training-list>
