/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #424242; }


.add-sentence-dialog {
  height: 100%;
  
  .mat-dialog-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    overflow: auto;
    padding: 0;
  }
}